.mortgageCard {
  position: absolute;
  background-color: #ffffff;
  left: 50%; /* left and top 50% makes top left corner of div centerized but that doesnt totally make div centerized*/
  top: 50%;
  transform: translate(-50%, -50%); /* For truely centerize the div*/
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 30px;
}
.calculationTab {
  padding: 30px;
  width: 50%;
}
.resultTab {
  background-color: hsl(201, 54%, 16%);
  width: 50%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 60px;
}
.mortgageTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}
.mortgageClear {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}
.mortgageForm {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.currencyIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: hsl(199, 73%, 94%);
  pointer-events: none;
  height: 95%;
  left: 1px;
  width: 10%;
  padding: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: hsl(199, 22%, 33%);
  font-weight: 900;
  font-size: 15px;
}
.inputField {
  padding-left: 50px; /* Space for the icon */
  height: 40px;
  border-radius: 5px;
  border: 1px solid hsl(196, 10%, 72%);
  width: 100%;
  font-size: 1rem;
  color: hsl(202, 54%, 16%);
  background-color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
}
.inputField:focus {
  outline: none;

  border: 2px solid hsl(62, 71%, 53%);
}

/* For be able to change currencyIcon background color when input focused */
.inputWrapper:focus-within .currencyIcon {
  background-color: hsl(62, 71%, 53%);
}
.currencyLabel {
  font-size: 13px;
  font-weight: 600;
  color: hsl(200, 7%, 52%);
}
