.mortgageCard {
  position: absolute;
  background-color: #ffffff;
  left: 50%; /* left and top 50% makes top left corner of div centerized but that doesnt totally make div centerized*/
  top: 50%;
  transform: translate(-50%, -50%); /* For truely centerize the div*/
  width: 850px;
  min-height: 485px;
  display: flex;
  border-radius: 20px;
}
.calculationTab {
  padding: 30px;
  width: 50%;
}
.resultTab {
  background-color: hsl(201, 54%, 16%);
  width: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 60px;
}
.mortgageTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}
.mortgageClear {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}
.mortgageForm {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.currencyIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: hsl(199, 73%, 94%);
  pointer-events: none;
  height: 95%;
  left: 1px;
  width: 10%;
  padding: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: hsl(199, 22%, 33%);
  font-weight: 900;
  font-size: 15px;
}

.inputField {
  padding-left: 50px; /* Space for the icon */
  height: 40px;
  border-radius: 5px;
  border: 1px solid hsl(196, 10%, 72%);
  width: 100%;
  font-size: 15px;
  color: hsl(202, 54%, 16%);
  background-color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
}
.inputField:focus {
  outline: none;
  border: 2px solid hsl(62, 71%, 53%);
}

/* For be able to change currencyIcon background color when input focused */
.inputWrapper:focus-within .currencyIcon,
.inputWrapper:focus-within .rateIcon,
.inputWrapper:focus-within .yearsIcon {
  background-color: hsl(62, 71%, 53%);
}
/* Customizing css when there is error message*/
.yearsError {
  border: 1px solid hsl(4, 69%, 50%);
}
.yearsError:focus {
  outline: none;
  border: 2px solid hsl(4, 93%, 48%);
}
.yearsIconError {
  background-color: hsl(4, 69%, 50%) !important;
  color: white !important;
}
.yearsErrorMessage {
  color: hsl(4, 69%, 50%);
  font-size: 10px;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: 700;
}

/* Rate error css customize */
.rateError {
  border: 1px solid hsl(4, 69%, 50%);
}
.rateError:focus {
  outline: none;
  border: 2px solid hsl(4, 93%, 48%);
}
.rateIconError {
  background-color: hsl(4, 69%, 50%) !important;
  color: white !important;
}
.rateErrorMessage {
  color: hsl(4, 69%, 50%);
  font-size: 10px;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: 700;
}

/* Amount error css customize */
.amountError {
  border: 1px solid hsl(4, 69%, 50%);
}
.amountError:focus {
  outline: none;
  border: 2px solid hsl(4, 93%, 48%);
}
.amountIconError {
  background-color: hsl(4, 69%, 50%) !important;
  color: white !important;
}
.amountErrorMessage {
  color: hsl(4, 69%, 50%);
  font-size: 10px;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: 700;
}

/* Type error css customize */

.typeErrorMessage {
  color: hsl(4, 69%, 50%);
  font-size: 10px;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: 700;
}
.inputLabel {
  font-size: 11px;
  font-weight: 600;
  color: hsl(200, 7%, 52%);
  margin-left: 2px;
}
.inputWrapperTermAndRate {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.interestRateContainer,
.mortgageTermContainer {
  display: flex;
  flex-direction: column; /* Align label and input vertically */
  width: 47%; /* Width of each input group */
}

.rateIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: hsl(199, 73%, 94%);
  pointer-events: none;
  height: 95%;
  right: 1px;
  width: 20%;
  padding: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: hsl(199, 22%, 33%);
  font-weight: 700;
  font-size: 15px;
}
.rateInputField,
.yearsInputField {
  padding-left: 13px;
  font-weight: 700;
}

.yearsIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: hsl(199, 73%, 94%);
  pointer-events: none;
  height: 95%;
  right: 1px;
  width: 30%;
  padding: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: hsl(199, 22%, 33%);
  font-weight: 700;
  font-size: 13px;
}
.radioBoxWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.mortgageTypeLabel {
  margin-top: 30px;
}
.inputWrapperType {
  position: relative;
  cursor: pointer;
  padding-left: 35px; /* Space for custom radio button */
  font-size: 18px;
  color: #333; /* Text color */
  user-select: none;
  border: 1px solid hsl(193, 10%, 64%);
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
}
.submitButton {
  margin-top: 30px;
  height: 40px;
  border-radius: 30px;
  width: 70%;
  background-color: hsl(61, 70%, 52%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(201, 54%, 16%);
  font-weight: 700;
  border: 0px; /* For reset nextjs default button style */
}
.radioType {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radioText {
  font-weight: 700;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  color: hsl(201, 54%, 16%);
  font-weight: 900;
  margin-left: 10px;
  font-size: 14px;
}

.radioText input[type="radio"]:checked + .custom-radio-button {
  background-color: #007bff;
}
.inputWrapperType input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.customRadio {
  margin-left: 13px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 14px;
  background-color: #f2f2f2; /* Background color */
  border: 2px solid hsl(193, 10%, 64%); /* Border color */
  border-radius: 50%; /* Make it round */
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}
.radioType:checked + .customRadio {
  background-color: white; /* Checked background color */
  border-color: hsl(62, 71%, 53%); /* Checked border color */
}
.radioType:checked + .customRadio::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 8px;
  width: 8px;
  background-color: hsl(62, 71%, 53%); /* Inner dot color */
  border-radius: 50%;
}
/* Hover effect */

.typeText {
  margin-left: 2px;
  font-size: 11px;
  color: hsl(200, 7%, 52%);
  font-weight: 600;
}
.selectedType {
  border-color: hsl(62, 71%, 53%);
  background-color: hsl(60, 72%, 93%);
}
/* Result Tab CSS Before Submit*/
.resultTabBefore {
  padding: 40px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultTitleBefore {
  color: hsl(184, 70%, 96%);
  font-weight: 700;
  font-size: 20px;
}
.resultTextBefore {
  color: hsl(203, 38%, 75%);
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.resultImageBefore {
  width: 150px;
  height: 200px;
  margin-top: 40px;
}

/* Result Tab CSS After Submit */
.resultTitleAfter {
  color: hsl(180, 100%, 99%);
  font-weight: 600;
  font-size: 17px;
}
.resultTabAfter {
  padding: 30px 30px 30px 30px;
}
.resultTextAfter {
  color: hsl(204, 20%, 51%);
  font-size: 12px;
  margin-top: 10px;
  line-height: 17px;
  font-weight: 600;
}
.resultCard {
  margin-top: 30px;
  background-color: hsl(202, 56%, 12%);
  height: 250px;
  width: 100%;
  border-radius: 10px;
  border-top: 3px solid hsl(60, 70%, 51%);
  padding: 20px 30px 20px 30px;
}

.monthlyTitle {
  color: hsl(204, 20%, 59%);
  font-size: 12px;
  font-weight: 600;
}
.monthlyMoney {
  padding-top: 15px;
  padding-bottom: 20px;
  color: hsl(60, 70%, 51%);
  font-size: 40px;
  font-weight: 700;
  border-bottom: 1px solid hsl(202, 34%, 20%);
}
.totalTitle {
  margin-top: 20px;
  color: hsl(203, 23%, 62%);
  font-size: 14px;
}
.totalMoney {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
